#header {
			background-color: lightblue;
			padding:5px;
}
#header1{
	background-color: transparent;
	color:blue;
	font-weight: bold;
}

#button{

	background-color: blue;
	border-style:none;
	cursor: pointer;
	margin: 4px 2px;
	color: white;
    padding: 10px 15px;
    text-align: center;
    font-family: sans-serif;

}
table,th,tr,td{
	
     border-collapse: collapse;
     padding: 5px;
     font-family: sans-serif;


}
#button1{

	background-color: blue;
	border-style:none;
	cursor: pointer;
	margin: 4px 2px;
	color: white;
    padding: 10px 15px;
    text-align: center;
    font-family: sans-serif;
}

#button2{

	background-color: red;
	border-style:none;
	cursor: pointer;
	margin: 4px 2px;
	color: white;
    padding: 10px 15px;
    text-align: center;
    font-family: sans-serif;
}
#form{

     padding: 15px;
     font-family: sans-serif;


}
#table2{


	border-collapse: collapse;
     padding: 20px;
     font-family: sans-serif;

}